- page_title _("Sign in")

- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"

- content_for :sessions_broadcast do
  - unless Gitlab.com?
    = render "layouts/broadcast"

= render "layouts/google_tag_manager_body"

#signin-container
  - if any_form_based_providers_enabled?
    = render 'devise/shared/tabs_ldap', render_signup_link: false
  .tab-content
    - if password_authentication_enabled_for_web? || ldap_sign_in_enabled? || crowd_enabled?
      = render 'devise/shared/signin_box'

  -# Show a message if none of the mechanisms above are enabled
  - if !password_authentication_enabled_for_web? && !ldap_sign_in_enabled? && !(omniauth_enabled? && devise_mapping.omniauthable?)
    %div
      = _('No authentication methods configured.')

  - if Feature.enabled?(:restyle_login_page, @project) && Gitlab::CurrentSettings.current_application_settings.terms
    %p.gl-px-5
      = html_escape(s_("SignUp|By signing in you accept the %{link_start}Terms of Use and acknowledge the Privacy Policy and Cookie Policy%{link_end}.")) % { link_start: "<a href='#{terms_path}' target='_blank' rel='noreferrer noopener'>".html_safe,
      link_end: '</a>'.html_safe }

  - if allow_signup?
    %p{ class: "gl-mt-3 #{'gl-text-center' if Feature.enabled?(:restyle_login_page, @project)}" }
      = _("Don't have an account yet?")
      = link_to _("Register now"), new_registration_path(:user, invite_email: @invite_email), data: { qa_selector: 'register_link' }
  - if omniauth_enabled? && devise_mapping.omniauthable? && button_based_providers_enabled?
    = render 'devise/shared/omniauth_box'
